body{
    width: auto;
    background-repeat: no-repeat;
}
header{
    background: #e5e5e5;
    display: flex;
    /* text-align: center;
    justify-content: center; */
}
.log{
    padding-left: 200px;
    color:  #4e4e4e;
    font-size: 20px;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding-left: 28vmax;
}

.menu p {
    padding: 10px;
}
.menu p:hover{
    color: #1abb9c;
}
#leng_m{
    display: none;
}
#banner{
    background-image: url("../images/banner.jpg");
    width: auto;
    height: 600px;
}
.text1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 150px;
}
.text1 h1{
    color:  #f3f3f3;
    font-size: 40px;
}
.text1 p{
    color:  #a8a8a8;
    font-size: 32px;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #3f8dbf;
    background-color:  #3f8dbf;
    width: 140px;
    height: 45px;
}
.button p{
    color:  #f3f3f3;
    font-size: 14px;
}

#center_1{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}
.center_p1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.center_p2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.center_p3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.center_p4{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

#center_1 p{
    color:  #616161;;
    font-size: 14px;
    margin: 10px;
}

#center_1 b{
    font-size: 18px;
    margin: 15px;
}

.line{
    background-color:  rgba(0, 0, 0, 0.11);
    width: auto;
    height: 2px;
    margin: 20px;
    /* padding-top: 50px; */
}

.text_43 b{
    color:  #4e4e4e;
    font-size: 14px;
    margin: 20px;
}

#article{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}

#article p{
    color:  #5c5c5c;
    font-size: 14px;
}

#article b{
    color:  #4e4e4e;
    font-size: 18px;
    padding-top: 20px;
}

#article i{
    color:  #5c5c5c;
    font-size: 14px;
}

.article_1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: flex-start;
    margin: 10px;
}

.article_2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: flex-start;
    margin: 10px;
}

.article_3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: flex-start;
    margin: 10px;
}
#ban_1{
    background: rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}
.ban_11{
    margin: 20px;
    padding: 20px;
}

.ban_11 p{
    padding: 20px;
    color:  #a1a1a1;
    font-size: 20px;
    word-break: break-all;
}
footer{
    background: #191919;
    width: auto;
    height: fit-content;
}

#info{
    display: flex;
    justify-content: center;
    align-items: baseline;
    /* margin: 10px; */
    padding: 20px;
}

#class_1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: flex-start;
    
    margin: 10px;
    width: 200px;
}
#class_1 p{
    color: #cacaca;
    font-size: 14px;
    word-break: break-all;
}
#class_1 b{
    color:  #6c6c6c;
    font-size: 18px;
}

.address{
    display: flex;
    align-items: baseline;
    text-align: flex-start;
    
}

.telephone{
    display: flex;
    align-items: baseline;
    text-align: flex-start;
}

.mail{
    display: flex;
    align-items: baseline;
    text-align: flex-start;
}
#class_2{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: flex-start;
    width: 200px;
    margin: 10px;
}
#class_2 p{
    color: #cacaca;
    font-size: 14px;
    word-break: break-all;
}
#class_2 b{
    color:  #6c6c6c;
    font-size: 18px;
}
.tvit_1, .tvit_2, .tvit_3{
    display: flex;
    align-items: baseline;
    text-align: flex-start;
}
#class_3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: flex-start;
    align-content: flex-start;
    margin: 10px;
    width: 200px;
}
#class_3 p{
    color: #cacaca;
    font-size: 14px;
    word-break: break-all;
}
#class_3 b{
    color:  #6c6c6c;
    font-size: 18px;
}
#class_4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: flex-start;
    width: 200px;
    margin: 10px;
}
#class_4 p{
    color: #cacaca;
    font-size: 14px;
    word-break: break-all;
}
#class_4 b{
    color:  #6c6c6c;
    font-size: 18px;
}

.line_2{
    background-color:  rgba(255, 255, 255, 0.11);
    width: auto;
    height: 2px;
    margin: 20px;
}

#pattent p{
    color:  #cacaca;
    font-size: 10px;
    margin: 20px;
    height: auto;
}

@media (min-width: 480px) and (max-width: 768px){
    #leng_m{
        display: flex;
        justify-content: flex-end;
        background-color: gray;
        padding: 20px;
    }
    .content_m{
        
        width: auto;
        height: 30px;
    }
.menu{
    display: none;
}
.log{
    padding-left: 0px;
}
header{
    align-items: center;
    text-align: center;
    justify-content: center;
}
#article{
    flex-direction: column;
}
#center_1{
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}
#center_1 p{
    max-width: 30vw;
}
.text_43{
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
}
#article p{
    max-width: 50vw;
}
#info{
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
}
@media (min-width: 360px) and (max-width: 480px){
    .menu{
        display: none;
    }
    #leng_m{
        display: flex;
        justify-content: flex-end;
        background-color: gray;
        padding: 20px;
    }
    .content_m{
        
        width: auto;
        height: 30px;
    }
    .log{
        padding-left: 0px;
    }
    header{
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    #article{
        flex-direction: column;
    }
    #center_1{
        flex-direction: column;
    }
    #center_1 p{
        max-width: 59vw;
    }
    .text_43{
        display: flex;
        /* text-align: center; */
        align-items: center;
        justify-content: center;
    }
    #article p{
        max-width: 50vw;
    }
    #info{
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}